name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: NPM Install
        run: npm install

      - name: Package
        run: ./node_modules/.bin/serverless package
        
      - name: Tar files
        run: tar -cf dist.tar ./

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist.tar
          path: dist.tar

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist.tar
      - run: tar -xf dist.tar

      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::557195821817:role/blackfriday-deploy
          role-session-name: blackfridaydeploy
          aws-region: eu-west-2

      - name: Deploy
        run: ./node_modules/.bin/serverless deploy