name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: NPM Install
        run: npm install

      - name: Package
        run: ./node_modules/.bin/serverless package
        
      - name: Tar files
        run: tar -cf dist.tar ./

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist.tar
          path: dist.tar

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist.tar
      - run: tar -xf dist.tar

      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::557195821817:role/blackfriday-deploy
          role-session-name: blackfridaydeploy
          aws-region: eu-west-2

      - name: Deploy
        run: ./node_modules/.bin/serverless deploy